body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row !important;
  text-transform: uppercase;
}
.button__wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}
.fader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fader .loader {
  outline: none;
}
table td,
table th {
  padding-right: 10px !important;
}
table td:first-child,
table th:first-child {
  text-align: left;
  width: 7%;
}
table td:last-child,
table th:last-child {
  text-align: right;
}
table td:nth-child(3),
table th:nth-child(3) {
  width: 20%;
}